<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'cabinet/css/basefooter.css' %}"/>
</head>
<body>
    <section id="section7" class="section7">
    <div class="info-block">
      <h4>MediPlace</h4>
      <p>Nous sommes honorés de faire partie de votre parcours de soins de santé et
         nous nous engageons à fournir des soins compatissants, personnalisés et de premier ordre.
         à chaque étape du processus.Confiez nous votre santéet laissé nous travailler ensemble
         pour obtenir les meilleures Résultats possibles pour vous et vos proches
      </p>
    </div>
  
    <div class="info-block">
      <h4>Départements</h4>
      <p>
        Médecine générale<br>
        Cardiologie<br>
        Pédiatrie<br>
        Dermatologie<br>
        Neurologie<br>
        Médecine dentaire
      </p>
    </div>
  
    <div class="info-block">
      <h4>Autres Services</h4>
      <p>
        24/7 services<br>
        Contrôle de qualité<br>
        Soins médicaux complets
      </p>
    </div>
  
    <div class="info-block">
      <h4>Contactez-nous</h4>
      <p><img src="{% static 'cabinet/img/localisation.webp' %}" alt="localisation"> Appt.3,Imm.3 RDC, Rue Oued Ziz, Rabat</p>
      <p><img src="{% static 'cabinet/img/telallo.png' %}" alt="téléphone"> +212 69 756 7741</p>
      <div class="socials">
        <a href="https://www.instagram.com/projetpython/" target="_blank">
          <img src="{% static 'cabinet/img/logoinsta.png' %}" alt="Instagram">
        </a><a href="https://www.facebook.com/profile.php?id=61575824190449&name=xhp_nt__fb__action__open_user" target="_blank">
            <img src="{% static 'cabinet/img/logofacebook.png' %}" alt="Facebook">
          </a>
        
      </div>
    </div>
  </section>
  <footer>
    
<p>Copyright © 2025 MediPlace, tous droits réservés.</p>
  </footer>
</body>
</html>