
<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MediPlace</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
    <link rel="stylesheet" href="{% static 'cabinet/css/headerbasepagemed.css' %}" />
</head>
<body>


  <!-- Toggle -->
  <input type="checkbox" id="toggle">

  <!-- Navbar -->
  <header>
    <label for="toggle" class="menu-toggle">
      <i class="fa fa-bars"></i>
    </label>
    <div class="logo">
      <span class="medi">Medi</span><span class="place">Place</span>
    </div>
   <div class="header-buttons">
       <a href="{% url 'main_med' %}" class="nav-btn">Retour</a>
      <a href="{% url 'landing' %}" class="nav-btn">Déconnexion</a>
    </div>
  </header>

  <!-- Main Content -->
  <div class="main-container">
    <div class="sidebar">
      <div class="menu-item">
        <i class="fa fa-calendar-alt"></i>
        <span class="text-default"><a href="{% url 'mes_rdv_med' %}">Rendez-vous</a></span>
        <span class="text-expanded"><a href="{% url 'mes_rdv_med' %}">Consulter mes rendez-vous</a></span>
      </div>
      <div class="menu-item">
        <i class="fa fa-user"></i>
        <span class="text-default"><a href="{% url 'voirprflmed' %}">Profil</a></span>
        <span class="text-expanded"><a href="{% url 'voirprflmed' %}">Voir mes informations</a></span>
      </div>
      <div class="menu-item">
        <i class="fa fa-file-invoice"></i>
        <span class="text-default"><a href="{% url 'genfact' %}">Facture</a></span>
        <span class="text-expanded"><a href="{% url 'genfact' %}">Etablir une facture </a></span>
      </div>
      <div class="menu-item">
        <i class="fa fa-folder-plus"></i>
        <span class="text-default"><a href="{% url 'createfolder' %}">Créer</a></span>
        <span class="text-expanded"><a href="{% url 'createfolder' %}">Créer Dossier Médical</a></span>
      </div>
      <div class="menu-item">
        <i class="fa fa-folder-open"></i>
        <span class="text-default"><a href="{% url 'mes_patients_med' %}">Voir</a></span>
        <span class="text-expanded"><a href="{% url 'mes_patients_med' %}">Consulter Dossier Médical</a></span>
      </div>
      <div class="menu-item">
        <i class="fa fa-file-medical"></i>
        <span class="text-default"><a href="{% url 'ajoutordonnance' %}">Ordonnance</a></span>
        <span class="text-expanded"><a href="{% url 'ajoutordonnance' %}">Ajouter une Ordonnance</a></span>
      </div>
      <div class="menu-item">
        <i class="fa fa-notes-medical"></i>
        <span class="text-default"><a href="{% url 'ajoutobservation' %}">Note</a></span>
        <span class="text-expanded"><a href="{% url 'ajoutobservation' %}">Ajouter une Observation</a></span>
      </div>
      <div class="menu-item">
  <i class="fa fa-pen-to-square"></i>
  <span class="text-default"><a href="{% url 'updateprflmed' %}">Modifier</a></span>
  <span class="text-expanded"><a href="{% url 'updateprflmed' %}">Modifier mes données</a></span>
</div>
    </div>
 
</body>
</html>