{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Connexion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'cabinet/css/login.css' %}"/>
</head>
<body>
  <div class="login-wrapper">
    <div class="triangle-section">
      <div class="triangle-content">
        <h3>
          Bienvenue sur <span style="color: white;">Medi</span><span style="color: #F0E5CF;;"class="highlight">Place</span>
        </h3>
        <p>
          Votre espace santé, pensé pour vous.<br>
          Connectez-vous pour accéder à vos services personnalisés.
        </p>
      </div>
    </div>

    <div class="form-container">
      <form>
        <h2>Connexion</h2>

        <div class="input-group">
          <label for="email">Email :</label>
          <input type="email" id="email" placeholder="Email" required>
        </div>

        <div class="input-group">
          <label for="password">Mot de passe :</label>
          <input type="password" id="password" placeholder="Mot de passe" required>
        </div>

        <div class="input-group">
          <label for="role">Rôle :</label>
          <select id="role" required>
            <option value="">-- Rôle --</option>
            <option value="patient">Patient</option>
            <option value="medecin">Médecin</option>
          </select>
        </div>

        <button type="submit">Se connecter</button>
      </form>
    </div>
  </div>
  <div class="small-triangle"></div>
</body>
</html>