{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Connexion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'cabinet/css/paiementpat.css' %}"/>
</head>
<body>
  <div class="login-wrapper">
    <div class="triangle-section">
      <div class="triangle-content">
        <h3>
            Règler votre facture <br> en quelques instants
        </h3>
        <p>
        Le traitement de votre paiement est entièrement sécurisé, <br> 
        assurant la protection de vos données personnelles et<br>  bancaires à chaque étape.
        </p>
      </div>
    </div>

    <div class="form-container">
      <form method="POST">
        {% csrf_token %}
        <h2>Paiement </h2>

        <div class="input-group">
          <label for="numfact">Numéro de la facture :</label>
          <input type="text" name="numfact" id="numfact" placeholder="numéro de votrre facture" required>
        </div>

        <div class="input-group">
          <label for="identifiant">Nom :</label>
          <input type="text" name="nom" id="nom" placeholder="Votre nom" required>
        </div>

        <div class="input-group">
          <label for="identifiant">Prénom :</label>
          <input type="text" name="prenom" id="prenom" placeholder="Votre prénom" required>
        </div>

        <div class="input-group">
            <label for="monthant">Montant à payer (Dhs):</label>
            <input type="number" name="montant" id="montant" placeholder="Montant à payer" required>
          </div>
          <div class="input-group">
            <label for="date">Date paiement :</label>
            <input type="date" id="date" name="date" required />
          </div>
        <button type="submit">Payer maintenant</button>
        <br>
        <br>
        <br>
        {% if form %}
    <div class="message {% if form == 'paiement validé avec succés' %}success-message{% elif form == 'informations invalide' %}error-message{% endif %}">
        <h3>{{ form }}</h3>
    </div>
{% endif %}
      </form>
    </div>
  </div>
  <div class="small-triangle"></div>
</body>
</html>