{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Créer un compte</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'cabinet/css/signup.css' %}"/>
</head>
<body>
  <div class="login-wrapper">
    <div class="triangle-section">
      <div class="triangle-content">
        <h3>
          Bienvenue sur <span style="color: white;">Medi</span><span style="color: #F0E5CF;" class="highlight">Place</span>
        </h3>
        <p>
          Votre espace santé, pensé pour vous.<br>
          Inscrivez-vous pour accéder à nos services de santé
        </p>
      </div>
    </div>

    <div class="form-container">
      <form>
        <h2>Créer un compte</h2>
        <div class="input-group">
          <label for="nom">Nom :</label>
          <input type="text" id="nom" placeholder="Nom" required>
        </div>

        <div class="input-group">
          <label for="prenom">Prénom :</label>
          <input type="text" id="prenom" placeholder="Prénom" required>
        </div>

        <div class="input-group">
          <label for="email">Email :</label>
          <input type="email" id="email" placeholder="Email" required>
        </div>

        <div class="input-group">
          <label for="password">Mot de passe :</label>
          <input type="password" id="password" placeholder="Mot de passe" required>
        </div>

        <div class="input-group">
          <label for="dob">Date de naissance :</label>
          <input type="date" id="dob" required>
        </div>

        <div class="input-group">
          <label for="tel">Numéro de téléphone :</label>
          <input type="tel" id="tel" placeholder="Numéro de téléphone" required>
        </div>

        <button type="submit">Créer un compte</button>
      </form>
    </div>
  </div>
  <div class="small-triangle"></div>
</body>
</html>