* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f0f2f5, #e4e7eb);
    padding: 50px;
}

.main-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 50px;
    height: 520px;
}

.left-panel {
    width: 50%;
    background-color: #26474E;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h1 {
    margin-bottom: 20px;
    font-size: 26px;
}

.right-panel {
    width: 50%;
    padding: 40px;
}

.right-panel h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #34495e;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    background-color: #26474E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}

.edit-btn:hover {
    background-color: #1e363b;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }
}
.success-message {
    color: #4CAF50; /* Vert */
   
  }